.bodyy {
    background-color: rgb(0, 0, 0);
}

.tab-container-1 {
    background-color: rgb(0, 0, 0); 
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 10px 0;
}

.tab-container-1 div {
    background-color: transparent;
    width: 15%;
    text-align: center;
    border-radius: 12px;
    padding: 10px 0;

}

.tab-container-1 div i,
.tab-container-1 div p {
    color: rgb(118, 118, 118);

}

.tab-container-1 div:hover {
    cursor: pointer;
}

.tab-container-1 div:hover i,
.tab-container-1 div:hover p {
    color: rgb(255, 255, 255);
}




h1{
text-align: center;
text-transform: uppercase;
}

#galeria{

    padding: 0 1rem;
}

#galeria img{

    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
    margin: 1rem auto;
    max-width: 600px;
}


/*Tablet 2 columnas*/

@media (min-width: 768px){

    #galeria{
        padding: 0 1rem;

    }

    #galeria img{
        width: 47%;
        margin: 1rem 1%;
        display: inline;
        max-width: none;
    }
}

/* 3 columnas*/


@media (min-width: 1024px){

    #galeria{
        padding: 0 1rem;
    }

    #galeria img{

        width: 31%;
        margin: 0.5rem 1%;
        display: inline;
        max-width: none;
    }
}

@media (min-width: 1400px){

    #galeria img{
        width: 22%;
        margin: 0.5rem 1%;
        display: inline;
        max-width: none;
    }
}