
:root{
--gap: 16px;
--maxw: 1440px;
}

.bodyy {
    background-color: rgb(0, 0, 0);
}

.tab-container-1 {
    background-color: rgb(0, 0, 0); 
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 10px 0;
}

.tab-container-1 div {
    background-color: transparent;
    width: 15%;
    text-align: center;
    border-radius: 12px;
    padding: 10px 0;

}

.tab-container-1 div i,
.tab-container-1 div p {
    color: rgb(118, 118, 118);

}

.tab-container-1 div:hover {
    cursor: pointer;
}

.tab-container-1 div:hover i,
.tab-container-1 div:hover p {
    color: rgb(255, 255, 255);
}




h1{
text-align: center;
text-transform: uppercase;
}


#galeria{

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    max-width: var(--maxw);
    margin: 0 auto;
    padding: 0 1rem;
    justify-content: center;

}

#galeria img{

    flex: 1 1 100%;
    width: 100%;
    min-width: 0px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
    display: block;

}

@media(min-width: 768px){
    #galeria img{
        flex-basis: calc(50% - var(--gap));
    }
}

@media(min-width: 1440px){
    #galeria img{
        flex-basis: calc(25% - var(--gap));
    }
}

