.bodyy {
    background-color: rgb(0, 0, 0);
}

.tab-container-1 {
    background-color: rgb(0, 0, 0); 
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 10px 0;
}

.tab-container-1 div {
    background-color: transparent;
    width: 15%;
    text-align: center;
    border-radius: 12px;
    padding: 10px 0;

}

.tab-container-1 div i,
.tab-container-1 div p {
    color: rgb(145, 145, 145);

}

.tab-container-1 div:hover {
    cursor: pointer;
}

.tab-container-1 div:hover i,
.tab-container-1 div:hover p {
    color: rgb(255, 255, 255);
}